html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; background: black;}

.hide {
    display:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.horizontal.p1 > div { width:100%}
.horizontal.p2 > div { width:50%}
.horizontal.p3 > div { width:33%}
.horizontal.p3 > div:last-child { width:34%}
.horizontal.p4 > div { width:25%}
.horizontal.p5 > div { width:20%}

.p1 > div { height:100%;}
.p2 > div { height:50%;}
.p3 > div { height:33%;}
.p3 > div:last-child { height:34%}
.p4 > div { height:25%;}
.p5 > div { height:20%;}



.horizontal > div,
.horizontal > div:last-child  {
    display:inline-block;
    height:100%;
}

.layout {
    overflow:hidden;
}

.main {
    width:100%;
    height:100%;
}

.toolbar {
    background:url('../img/toolbar.png') repeat-x;
}

.footer {
    background:green;
}

.body {
    background:violet;
}

.map {
    width:100%;
    height:100%;
}

.abutton {
    overflow: hidden;
    margin: 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    text-align: center;
    border-width: 0 12px;
    -webkit-border-image: url(../img/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
    cursor: pointer;
}

.button:active {
    -webkit-border-image: url(../img/toolButton.png) 0 5 0 5;
    color:white;
    text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
}

/* */
.scrollable {
    position:relative;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1550ms;
    -webkit-transition-timing-function: edge-out;
}


/*Lists */

.list {
    display:block;
    margin:0;
    padding:0;
}

.list li {
    display:block;
    height:50px;
    display:block;
    border:1px solid black;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 350ms;
}

.in {
    -webkit-animation-name: slideinfromright;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes scrollY {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-200px); }
}


.toolbar {
    background:url('../img/bgToolbar.png') repeat-x;
    color:white;
}

.toolbar .button {
    text-align:center;
    color:#ccc;
    margin:2px 5px;
    padding:2px;
    height:43px;
    font: normal normal bold 10px/normal Helvetica, Arial, Verdana, sans-serif;
    -webkit-border-radius:4px;
}

.toolbar .button span {
    display:block;
    margin:2px auto;
}

.toolbar .button.active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;background: rgba(255, 255, 255, 0.2);
    color:white;
}

.icon {width:24px;height:22px;margin-top:2px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 100%, 100%, 0.597656)), to(rgba(255, 255, 255, 0.296875)))}
.active .icon {background: -webkit-gradient(linear, 38% 0%, 60% 70%, from(#dde9f0), to(#3fc5f8), color-stop(.6,#79b2ec),color-stop(.7,#2e91e5))}
.chat {-webkit-mask-box-image: url(/Jab/img/icons/chat.png)}
.chat2 {-webkit-mask-box-image: url(/Jab/img/icons/chat2.png)}