html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; background: black;}

.hide {
    display:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.horizontal.p1 > div { width:100%}
.horizontal.p2 > div { width:50%}
.horizontal.p3 > div { width:33%}
.horizontal.p3 > div:last-child { width:34%}
.horizontal.p4 > div { width:25%}
.horizontal.p5 > div { width:20%}

.p1 > div { height:100%;}
.p2 > div { height:50%;}
.p3 > div { height:33%;}
.p3 > div:last-child { height:34%}
.p4 > div { height:25%;}
.p5 > div { height:20%;}



.horizontal > div,
.horizontal > div:last-child  {
    display:inline-block;
    height:100%;
}

.main {
    width:100%;
    height:100%;
}

.toolbar {
    background:url('../img/toolbar.png');
}

.footer {
    background:green;
}

.body {
    background:violet;
}

.map {
    width:100%;
    height:100%;
}

.button {
    overflow: hidden;
    margin: 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    text-align: center;
    border-width: 0 12px;
    -webkit-border-image: url(../img/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
    cursor: pointer;
}

.button:active {
    -webkit-border-image: url(../img/toolButton.png) 0 5 0 5;
    color:white;
    text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
}