html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; background: black;}

.hide {
    display:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.vertical {
    height:100%;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align:stretch;
}

.horizontal {
    display:-webkit-box;
    -webkit-box-orient: horizontal;
}


.horizontal > div,
.horizontal > div:last-child  {
    -webkit-box-flex:1;
}

.layout {
    overflow:hidden;
}

.main {
    width:100%;
    height:100%;
}

.toolbar {
    background:url('../img/toolbar.png') repeat-x;
}

.footer {}

.body {
    background:black;
}

.map {
    display:block;
    width:100%;
    height:100%;
}

.button.white {
    overflow: hidden;
    margin: 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    text-align: center;
    border-width: 0 12px;
/*    -webkit-border-image: url(../img/whiteButton.png) 0 12 0 12;*/
    background:#999;
    border:1px solid #ccc;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
    cursor: pointer;
}

.button.black {
    overflow: hidden;
    margin: 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: orange;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    text-align: center;
    border-width: 0 12px;
/*    -webkit-border-image: url(../img/blackButton.png) 0 11 0 11;*/
    background: #222;
    border:1px solid #ccc;
    text-shadow: rgba(255, 255, 255, -0.7) 0 1px 0;
    cursor: pointer;
}

.button:active {
    color:white;
    text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
}

/* */
.scrollable {
    position:relative;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1550ms;
    -webkit-transition-timing-function: edge-out;
}


/*Lists */

.list {
    display:block;
    margin:0;
    padding:0;
    background:#222;
    color:white;
    min-height: 100%;
}

.list li {
    display:block;
    border-width:1px;
    padding:5px;
    border-bottom:1px solid #333;
/*    -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(40%,#999),color-stop(60%,#999)) 0 0 100% 0;*/
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 350ms;
}

.in {
    -webkit-animation-name: slideinfromright;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes scrollY {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-200px); }
}


.toolbar {
/*    background:url('../img/bgToolbar.png') repeat-x;*/
    background:black;
    color:white;
}
.toolbar>div{
    margin:4px 2px;
    aborder:1px solid #666;
}
.toolbar .button {
    text-align:center;
    color:#ccc;
    /*margin:5px 4px;*/
    padding-top:2px;
    height:43px;
    font: normal normal bold 10px/normal Helvetica, Arial, Verdana, sans-serif;
    background:#222;
}

.toolbar .button span {
    display:block;
    margin:2px auto;
}

.toolbar .button.active {
/*    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;background: rgba(255, 255, 255, 0.2);*/
    background:#666;
    color:black;
    color:white;
    -webkit-border-bottom-right-radius:12px;
    -webkit-border-top-left-radius:12px;
}

.icon {width:24px;height:22px;margin-top:2px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 100%, 100%, 0.597656)), to(rgba(255, 255, 255, 0.296875)))}
.icontext {font-size:14px;color:black}
.notice {color:red;}
.active .icon {background: -webkit-gradient(linear, 38% 0%, 60% 70%, from(orange), to(orange))}
.chat {-webkit-mask-box-image: url(/Jab/img/icons/chat.png)}
.chat2 {-webkit-mask-box-image: url(/Jab/img/icons/chat2.png)}
.radar {-webkit-mask-box-image: url(/Jab/img/icons/compass.png)}
.id-card {-webkit-mask-box-image: url(/Jab/img/icons/id-card.png)}


.textarea {
    border:4px solid #ccc;
    -webkit-border-radius:4px;
    display:block;
    -webkit-box-flex:1;
}

.field input {
    border:2px solid #ccc;
    display:block;
    font-size:1.2em;
    -webkit-border-radius:4px;
}

.field {
    display:block;
    
}

.field span {
    color:white;
    display:block;
}
