html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; }

.hide {
    display:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

#main_layout { height: 100%;border:1px solid black}
#main {height:100%}
#main_map { height: 100%;}